.container {
  padding: 0 !important; }
  .container h2 {
    font-size: 3rem; }
  .container p {
    font-size: 1.5rem; }
  .container a {
    font-size: 1.5rem;
    color: #fff; }

.ext-button {
  background: transparent;
  border-radius: 0px;
  transition: all .3s;
  font-size: 1.5rem; }

.ext-button__light {
  border: 2px solid #fff;
  color: #fff; }
  .ext-button__light:hover, .ext-button__light:focus {
    background-color: #fff;
    border: 2px solid #000;
    color: #000; }

.ext-button__dark {
  border: 2px solid #000; }
  .ext-button__dark:hover, .ext-button__dark:focus {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff; }

.hero {
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 60px 0;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .hero h1 {
    font-size: 5rem; }
  .hero p {
    font-size: 1.5rem; }

.intro {
  padding: 50px 0;
  align-items: center;
  justify-content: center; }

.intro__image, .intro__description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.intro__description {
  margin-top: 20px; }

.projects {
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 20px 0; }
  .projects h1 {
    font-size: 3rem; }

.project {
  display: flex;
  padding: 400px 0 60px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top; }

.mythica {
  background-image: url("images/mythica-mobile.jpg");
  background-color: #fff; }

.simple-spirit {
  background-image: url("images/simple-spirit-mobile.jpg");
  color: #fff;
  background-color: #000; }

.darba {
  background-image: url("images/darba-mobile.jpg");
  background-color: #fff; }

.flow-feed {
  background-image: url("images/flow-feed-mobile.jpg");
  color: #fff;
  background-color: #000; }

.contact {
  background-image: url("images/hero.jpg");
  background-attachment: fixed;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 80px 0; }
  .contact p a {
    color: #fff; }
  .contact img {
    width: 50px; }

.resume {
  margin: 20px; }

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }

@media only screen and (min-width: 768px) {
  .project {
    padding: 600px 0 60px; } }
@media only screen and (min-width: 768px) {
  .hero {
    padding: 120px 0; }
    .hero h1 {
      font-size: 7rem; }

  .project {
    padding: 800px 10px 60px; } }
@media only screen and (min-width: 1280px) {
  .intro__image {
    justify-content: flex-end; }

  .intro__description {
    text-align: left;
    margin-right: auto; }

  .project {
    padding: 120px 0;
    background-size: cover;
    background-position: center; }

  .mythica {
    background-image: url("images/mythica.jpg"); }

  .simple-spirit {
    background-image: url("images/simple-spirit.jpg");
    background-attachment: fixed; }

  .darba {
    background-image: url("images/darba.jpg"); }

  .flow-feed {
    background-image: url("images/flow-feed.jpg");
    background-attachment: fixed; }

  .contact {
    padding: 120px 0;
    background-attachment: scroll; } }
/* Utility Classes */
.no-decoration {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
