$enormous-header: 12rem;
$huge-header: 5rem;
$large-header: 3rem;
$large-text: 1.4rem;
$mobile-section-padding: 400px 0 60px;
$tablet-section-padding: 600px 0 60px;
$large-tablet-section-padding: 800px 10px 60px;
$desktop-section-padding: 120px 0;
$small-section-padding: 80px 0;

.container {
  padding: 0 !important;
  h2 {
    font-size: $large-header;
  }
  p {
    font-size: $large-text;
  }
  a {
    font-size: $large-text;
    color: #fff;
  }
}

.ext-button {
  background: transparent;
  border-radius: 0px;
  transition: all .3s;
  font-size: $large-text;
}

.ext-button__light {
  border: 2px solid #fff;
  color: #fff;
  &:hover, &:focus {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }
}

.ext-button__dark {
  border: 2px solid #000;
  &:hover, &:focus {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
  }
}

.hero {
  background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 60px 0;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: $huge-header;
  }
  p {
    font-size: $large-text;
  }
}

.intro {
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}

.intro__image, .intro__description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro__description {
  margin-top: 20px;
}

.projects {
  background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  h1 {
    font-size: $large-header;
  }
}

.project {
  display: flex;
  padding: $mobile-section-padding;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.mythica {
  background-image: url('images/mythica-mobile.jpg');
  background-color: #fff;
}

.simple-spirit {
  background-image: url('images/simple-spirit-mobile.jpg');
  color: #fff;
  background-color: #000;
}

.darba {
  background-image: url('images/darba-mobile.jpg');
  background-color: #fff;
}

.flow-feed {
  background-image: url('images/flow-feed-mobile.jpg');
  color: #fff;
  background-color: #000;
}

.contact {
  background-image: url('images/hero.jpg');
  background-attachment: fixed;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: $small-section-padding;
  p a {
    color: #fff;
  }
  img {
    width: 50px;
  }
}
.resume {
  margin: 20px;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}


@media only screen and (min-width: 768px) {
  .project {
    padding: $tablet-section-padding;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: $desktop-section-padding;
    h1 {
      font-size: $enormous-header;
    }
  }
  .project {
    padding: $large-tablet-section-padding;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
  }

  .intro__image {
    justify-content: flex-end;
  }

  .intro__description {
    text-align: left;
    margin-right: auto;
  }

  .project {
    padding: $desktop-section-padding;
    background-size: cover;
    background-position: center;
  }

  .mythica {
    background-image: url('images/mythica.jpg');
  }

  .simple-spirit {
    background-image: url('images/simple-spirit.jpg');
    background-attachment: fixed;
  }

  .darba {
    background-image: url('images/darba.jpg');
  }

  .flow-feed {
    background-image: url('images/flow-feed.jpg');
    background-attachment: fixed;
  }

  .contact {
    padding: $desktop-section-padding;
    background-attachment: scroll;
  }
}

/* Utility Classes */

.no-decoration {
  text-decoration: none;
}
